<link rel="stylesheet" href="/css/user_profile.css">



    <!-- if user matches then show the form -->
    <h1> Reset your details</h1>
    <div id="box">
    <form action="/users/update2/<%=idd %>"  method="POST">
    <div>
        <label for="email">Enter your new Password</label>
        <input type="password" name="password" placeholder="New Password">
    </div>
    <button type="submit" class="btn btn-dark">Update</button>

    </form>
</div>
    <p style="padding: 2%;">
        <a href="/users/sign-out"><button class="btn btn-dark" >Done</button></a>
    </p>
    