<link rel="stylesheet" href="/css/signin.css">
<h1>Forgot Password</h1>

<div id="box">
<form id="demo-form" action="/users/resetlink" method="POST">
    <div>
    <div>
        <label for="email">Enter your Email Adress</label>
        <input type="email" name="email" placeholder="Email"  required>
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
    </div>
</form>
</div>
<p>Use the link sent on your mail to change your Password</p>
